/* line 1, index.less */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/* line 7, index.less */
:focus {
  outline: none;
  -webkit-box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 3px rgba(255, 255, 255, 0.5);
}
/* line 12, index.less */
body {
  min-width: 320px;
  background-color: #000412;
  font-size: 16px;
  font-family: Lato, sans-serif;
  font-weight: 400;
}
/* line 20, index.less */
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p {
  margin: 0 0 15px;
}
/* line 30, index.less */
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
ul:last-child,
ol:last-child,
p:last-child {
  margin-bottom: 0;
}
/* line 35, index.less */
a {
  text-decoration: none;
  -webkit-transition: -webkit-transform 330ms;
  transition: -webkit-transform 330ms;
  transition: transform 330ms;
  transition: transform 330ms, -webkit-transform 330ms;
}
/* line 40, index.less */
a:hover {
  cursor: pointer;
}
/* line 44, index.less */
input,
button,
select,
textarea {
  outline: none;
  border: none;
  padding: 0;
}
/* line 53, index.less */
li {
  list-style: none;
}
/* line 57, index.less */
button {
  cursor: pointer;
  background: transparent;
  -webkit-transition: background .7s;
  transition: background .7s;
}
/* line 64, index.less */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
/* line 69, index.less */
input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* line 74, index.less */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}
/* line 82, index.less */
ol,
ul,
li {
  margin: 0;
  padding: 0;
}
/* line 89, index.less */
p {
  margin: 0;
}
/* line 93, index.less */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* line 99, index.less */
img {
  display: block;
}
/* line 103, index.less */
.app {
  position: relative;
  max-width: 1600px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  background: #ffffff;
  -webkit-box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}
/* line 116, index.less */
.app__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  margin: 0 auto;
}
/* line 122, index.less */
.app__limiter {
  position: relative;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
/* line 3, header.less */
.header__main {
  border-bottom: 1px solid #ececec;
}
/* line 7, header.less */
.header__limiter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 14, header.less */
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 19, header.less */
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 35px;
}
/* line 24, header.less */
.header__logo img {
  margin-right: 13px;
}
/* line 28, header.less */
.header__logo-text {
  color: #222222;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
}
/* line 34, header.less */
.header__logo-text span {
  color: #f16d7f;
  font-weight: 900;
  letter-spacing: 0.68px;
}
/* line 42, header.less */
.header__form {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
}
/* line 46, header.less */
.header__form-browse {
  position: relative;
  display: inline-block;
  padding: 0 25px 0 15px;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px;
  line-height: 38px;
}
/* line 56, header.less */
.header__form-browse:before {
  position: absolute;
  content: '\f0dd';
  font-family: 'FontAwesome';
  right: 9px;
  top: -2px;
  color: #838383;
  font-size: 14px;
}
/* line 67, header.less */
.header__form input {
  width: 280px;
  padding: 0 15px;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 0.35px;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
}
/* line 78, header.less */
.header__form input::-webkit-input-placeholder {
  color: #a4a4a4;
}
.header__form input:-ms-input-placeholder {
  color: #a4a4a4;
}
.header__form input::-ms-input-placeholder {
  color: #a4a4a4;
}
.header__form input::placeholder {
  color: #a4a4a4;
}
/* line 83, header.less */
.header__form-submit {
  display: inline-block;
  padding: 0 11px;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0.35px;
}
/* line 94, header.less */
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* line 99, header.less */
.header__count {
  margin-right: 25px;
}
/* line 103, header.less */
.header__acc {
  position: relative;
  padding: 0 29px 0 19px;
  line-height: 38px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.38px;
  background-color: #f16d7f;
}
/* line 113, header.less */
.header__acc:before {
  position: absolute;
  content: '\f0dd';
  font-family: 'FontAwesome';
  right: 12px;
  top: -2px;
  font-size: 15px;
}
/* line 123, header.less */
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/* line 127, header.less */
.header__nav-link {
  padding: 20px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 3, main.less */
.main__banner {
  padding: 210px 0 300px;
  margin-bottom: 95px;
  background: #e8e8e8 url(../imgs/mainbanner.jpg) no-repeat right -42px;
}
/* line 9, main.less */
.main__banner-content {
  padding-left: 12px;
  border-left: 12px solid #f16d7f;
}
/* line 14, main.less */
.main__banner-bigtext {
  color: #222222;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
}
/* line 21, main.less */
.main__banner-text {
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 28, main.less */
.main__banner-text span {
  color: #f16d7f;
}
/* line 34, main.less */
.main__category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 95px;
}
/* line 39, main.less */
.main__category-item {
  position: relative;
  display: block;
  width: 560px;
  margin-bottom: 20px;
}
/* line 45, main.less */
.main__category-item:last-child {
  margin-bottom: 0;
}
/* line 49, main.less */
.main__category-item img {
  width: 100%;
}
/* line 54, main.less */
.main__category-text {
  position: absolute;
  left: 0;
  top: 25px;
  padding: 15px 20px;
  background: #ffffff;
}
/* line 61, main.less */
.main__category-text p {
  color: #222222;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.45px;
}
/* line 69, main.less */
.main__category-text span {
  color: #f16d7f;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}
/* line 80, main.less */
.featured {
  margin-bottom: 110px;
}
/* line 83, main.less */
.featured h3 {
  text-align: center;
  color: #222222;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.75px;
}
/* line 91, main.less */
.featured__subheading {
  margin-bottom: 55px;
  text-align: center;
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
}
/* line 100, main.less */
.featured__blocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
/* line 106, main.less */
.featured__item {
  min-width: 260px;
  max-width: 260px;
  margin-bottom: 40px;
}
/* line 112, main.less */
.featured__item:hover .featured__item-content {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}
/* line 116, main.less */
.featured__item:hover .featured__add {
  display: block;
}
/* line 121, main.less */
.featured__item-img {
  position: relative;
}
/* line 124, main.less */
.featured__item-img img {
  width: 100%;
}
/* line 129, main.less */
.featured__item-content {
  padding: 15px 15px 20px;
}
/* line 133, main.less */
.featured__item-title {
  margin-bottom: 15px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}
/* line 141, main.less */
.featured__item-price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 150, main.less */
.featured__item-price span {
  color: #e4af48;
}
/* line 156, main.less */
.featured__add {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 95px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 167, main.less */
.featured__add button {
  padding: 0 13px 0 43px;
  color: #ffffff;
  font-size: 13px;
  line-height: 39px;
  font-weight: 700;
  border: 1px solid #ffffff;
  background: url(../imgs/addbut.svg) no-repeat 12px;
}
/* line 178, main.less */
.featured__link {
  text-align: center;
}
/* line 182, main.less */
.featured__all {
  display: inline-block;
  margin: 0 auto;
  padding: 0 25px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.4px;
  line-height: 48px;
  background: #f16d7f;
}
/* line 195, main.less */
.offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 95px;
}
/* line 199, main.less */
.offers__banner {
  position: relative;
  min-width: 67.544%;
  max-width: 67.544%;
}
/* line 204, main.less */
.offers__banner-inner {
  position: absolute;
  top: 145px;
  left: 40px;
}
/* line 210, main.less */
.offers__banner-bigtext {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
/* line 217, main.less */
.offers__banner-bigtext span {
  color: #f16d7f;
}
/* line 222, main.less */
.offers__banner-text {
  color: #ffffff;
  font-size: 32px;
  letter-spacing: 0.9px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 230, main.less */
.offers__banner img {
  width: 100%;
}
/* line 235, main.less */
.offers__content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 45px 35px 45px;
  background-color: #222224;
}
/* line 241, main.less */
.offers__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 55px;
}
/* line 245, main.less */
.offers__item:last-child {
  margin-bottom: 0;
}
/* line 251, main.less */
.offers__text h3 {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
/* line 258, main.less */
.offers__text p {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.35px;
}
/* line 267, main.less */
.offers__img {
  margin-right: 33px;
}
/*# sourceMappingURL=index.css.map */